* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.container{
  padding: 50px 0 200px;
  margin-top: 0;
  max-width: 95%;
}
.alert{
  margin-bottom: 0;
}
.hidden{
  display: none;
}
.text-align-center{
  text-align: center;
}
